@font-face {
  font-family: Roboto;
  src: url(/src/styles/font/Roboto/Roboto-Medium.ttf);
}
body {
  font-family: Roboto;
}

.sportsee-header {
  width: auto;
  display: grid;
  grid-template-columns: 3.5fr 9fr;
  background-color: black;
  padding: 1em;
}
.sportsee-header #logo {
  width: 178px;
  height: 60.93px;
}
.sportsee-header .header-nav {
  margin-top: 1em;
  display: grid;
  grid-template-columns: 2fr 2fr 2fr 2fr;
}
.sportsee-header .header-nav a {
  text-decoration: none;
  color: white;
  font-size: 24px;
}

.vertical-layout {
  width: 117px;
  background-color: black;
  display: flex;
  flex-direction: column;
}
.vertical-layout .container-img-vertical-layout {
  margin-top: 8em;
}
.vertical-layout .container-img-vertical-layout .img-vertical-layout {
  width: 64px;
  height: 64px;
  margin: 0em 1.5em 1.5em 1.5em;
}
.vertical-layout .copyright {
  color: white;
  margin: 3em 0em 3em 3em;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
}

.main {
  display: flex;
}
.main .user-welcome {
  margin-left: 5em;
}
.main .user-welcome h1 {
  font-size: 48px;
}
.main .user-welcome h1 span {
  color: red;
}
.main .user-welcome p {
  font-size: 18px;
}

.container-daily-activity {
  grid-column: 1/3;
  grid-row: 1;
  width: 835px;
  height: 320px;
  background-color: #fbfbfb;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0212249);
  border-radius: 5px;
}
.container-daily-activity h2 {
  font-size: 15px;
  position: absolute;
  margin: 0.5em 0em 0em 2em;
}

.tooltip {
  background-color: red;
  color: white;
  font-size: 11px;
  padding: 0.5em 1em 0.5em 1em;
}

.recharts-legend-item-text {
  color: #9b9eac !important;
  font-size: 14px;
}

.container-duration-sessions {
  grid-column: 1;
  grid-row: 2;
  background-color: red;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0212249);
  border-radius: 5px;
  width: 258px;
}
.container-duration-sessions h2 {
  font-size: 15px;
  color: white;
  position: absolute;
  margin: 2em 0 0 3em;
  width: 147px;
}
.container-duration-sessions .tooltip {
  background-color: white;
  color: black;
  padding: 0.1em 0.8em;
}

.container-performance {
  width: 258px;
  height: 263px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0212249);
  border-radius: 5px;
  background-color: black;
  color: white;
}

.container-score {
  grid-column: 3;
  grid-row: 2;
  background-color: #fbfbfb;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0212249);
  border-radius: 5px;
  width: 258px;
  height: 263px;
  position: relative;
}
.container-score .recharts-surface {
  height: 263px;
}
.container-score h2 {
  font-size: 15px;
  position: absolute;
  margin: 2em 0 0 1em;
}
.container-score .legend {
  margin: 6em 0em 0em 6em;
  position: absolute;
  top: 0;
}
.container-score .legend .pourcent {
  font-size: 26px;
  margin: 0;
}
.container-score .legend .text-legend {
  color: #9b9eac;
  font-size: 15px;
  margin: 0;
}

.container-main .container-charts-cards {
  display: flex;
  width: auto;
}
.container-main .container-charts-cards .charts {
  width: 850px;
  margin: 3em 0em 0em 5em;
  grid-gap: 10px;
}
.container-main .container-charts-cards .charts-square {
  display: flex;
  justify-content: space-between;
  width: 835px;
  margin-top: 2em;
}

.cards .card {
  display: flex;
  margin: 3em 0em 0em 2em;
  background-color: #fbfbfb;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0212249);
  border-radius: 5px;
  padding: 1.5em 1em;
}
.cards .card .img-card {
  width: 60px;
  height: 60px;
  margin: 0em 1em;
}
.cards .card .unit-categories .unit {
  font-size: 20px;
  margin: 0.3em 0em 0em 0em;
}
.cards .card .unit-categories .categorie {
  font-size: 14px;
  color: #9b9eac;
  margin: 0;
}

/*# sourceMappingURL=style.css.map */
