.main-error404 {
  color: red;
  .error-404 {
    font-size: 288px;
    font-weight: 700;
    margin: 0.3em 0em 0.1em 0em;
  }
  .error-msg {
    font-size: 36px;
    font-weight: 500;
    margin-bottom: 4em;
  }
  a {
    color: red;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 3em;
  }
}
